#!/usr/bin/bash

#PARAMETROS PARA CONFIGURACION LOCAL
export PROJECT_PATH="/var/www/modelodatosabiertos"
export INSTALL=2                                                       #1 = Instalar, 2 = Actualizar y 3 = Instalar + Actualizar
export START=0
export FRESH_INSTALL=0

export SRC_PATH=$PROJECT_PATH/src
export DATA_PATH=$PROJECT_PATH/data
export LOG_PATH=$PROJECT_PATH/logs
export JSON_PATH=$PROJECT_PATH/data/JSON
export MARIADB_PATH=$PROJECT_PATH/data/MariaDB

#CREDENCIALES PARA SOCRATA
export SOCRATA_TOKEN="sC4N6wXghMXaL2C3uUxVMphf0"
export LIMIT=5000

## CREDENCIALES PARA MARIADB
export MARIADB_USER="root"
export MARIADB_PASSWORD="d4t0s4b1ert0s"
export MARIADB_HOST="127.0.0.1"
export MARIADB_DB="MDA"

## CREDENCIALES PARA MARIADB
#export MARIADB_USER="quantomm_dev"
#export MARIADB_PASSWORD="quantomm_dev"
#export MARIADB_HOST="172.17.0.2"
#export MARIADB_DB="socrata"


